@charset "UTF-8";

@import 'normalize';
@import 'fonts';
@import 'solarized';

$main-font: 'Vollkorn', serif;
$main-color: #444;
$font-size: 18px;

$sans-font: 'Lato', sans-serif;
$sans-font-size: .93em;

$heading-color: #222;
$secondary-color: #777;
$border-color: #ccc;

// Basic typography styles
body {
  color: $main-color;
  font-family: $main-font;
  // Enable a couple of nice font features
  -webkit-font-feature-settings: 'onum', 'kern', 'liga', 'clig', 'dlig', 'calt';
  font-feature-settings: 'onum', 'kern', 'liga', 'clig', 'dlig', 'calt';
  font-size: $font-size;
  line-height: 1.35;
}

// Page container
.container {
  margin: 0 auto;
  padding: 0 15px;
}

article {
  margin-bottom: 15px;
}

p {
  margin: 0;
  text-indent: 1.5em;
}

p:only-child {
  text-indent: 0;
}

strong {
  font-weight: 600;
}

ul,
ol {
  margin: 1em 4em;
  padding: 0;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

small,
sup {
  font-size: .86em;
}

sup {
  // scss-lint:disable QualifyingElement
  a[rel="footnote"] {
    // scss-lint:enable QualifyingElement

    // Use body font for footnotes
    font-family: $main-font;
    font-size: 1rem;
    text-decoration: none;
  }
}

blockquote {
  border-left: 5px solid #eee;
  font-size: .9em;
  line-height: 1.25;
  margin: 1.2em 0;
  padding: 0 2em;
}

a {
  // Sans serif for links
  color: #333;
  font-family: $sans-font;
  font-size: $sans-font-size;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4 {
  color: $heading-color;
  font-family: $main-font;
  -webkit-font-feature-settings: 'salt', 'lnum';
  font-feature-settings: 'salt', 'lnum';
  font-weight: 600;
  hyphens: none;
  line-height: 1;
  margin-bottom: .8em;
  margin-top: 2em;

  small {
    color: $secondary-color;
    font-size: .65em;
    font-weight: normal;
    line-height: 1;
  }
}

h1 {
  font-size: 1.1em;
}

h2 {
  font-size: 1.05em;
}

h3 {
  font-size: 1em;
}

.header-section-number {
  margin-right: .5em;
}

.header-section-number:after {
  content: '.';
}

hr {
  border-color: $border-color;
  border-style: none none solid;
  border-width: 1px;
  margin: 1.35em 0;
}

// Images and figures
img {
  max-height: 100%;
  max-width: 100%;
}

figure {
  margin: 2em;
}

figcaption {
  font-size: .9em;
  margin-top: .8em;
  text-align: center;
}

figcaption:before {
  content: 'Figure.';
  font-weight: 700;
  margin-right: .5em;
}

kbd,
code {
  font-family: 'Source Code Pro', monospace;
  font-size: .83em;
}

kbd {
  border: 1px solid $border-color;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .2), 0 0 0 2px #fff inset;
  padding: 0 4px;
}

code {
  padding: .11em .22em;
}

pre {
  border: 1px solid $border-color;
  border-radius: 4px;
  padding: 10px;

  code {
    padding: 0;
  }
}

// Special components
.page-header {
  border-bottom: 1px solid $border-color;
  margin-bottom: 1.5rem;
  padding: .5rem;
}

.title {
  font-family: $sans-font;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: .2em;
}

.post-info {
  font-size: .83em;
  margin-bottom: 2rem;
  padding: 0 1rem;

  p {
    margin-bottom: .25em;
    text-indent: 0;
  }
}

// Navigation
.navbar {
  border-bottom: 1px solid $border-color;
  padding: .8em 0;
}

.navbar-header {
  display: block;
  text-align: center;
}

.navbar-brand {
  display: inline-block;
}

.navbar-nav {
  display: block;
  list-style: outside none;
  margin: 0;
  text-align: center;

  > li {
    display: inline;

    &:after {
      content: ' · ';
    }

    &:last-child:after {
      content: '';
    }
  }
}

.footnotes {
  font-size: .86em;

  ol {
    margin-left: 2em;
  }

  li {
    margin-bottom: .5em;
  }

  p:first-child {
    text-indent: 0;
  }
}

.page-footer {
  // Page footer
  border-top: 1px solid $border-color;
  font-size: .86em;
  margin-top: 5rem;
  padding: .5rem;

  p {
    margin-bottom: .5em;
    text-align: center;
    text-indent: 0;
  }
}


.post-list {
  list-style: outside none none;
  margin-left: 0;
  margin-right: 0;
}

.post-list-item {
  margin-bottom: 1em;
}

.post-list-date,
.post-list-short-date {
  display: block;
  float: left;
  font-size: .83em;
  margin-top: .5em;
  text-align: right;
  width: 25%;
}

.post-list-date {
  display: none;
}

.post-list-title {
  display: block;
  margin-bottom: .2em;
  margin-left: 28%;
}

.post-list-tags {
  display: block;
  font-size: .83em;
  font-style: italic;
  margin-left: 28%;
}

.post-list-teaser {
  display: none;
  font-size: .83em;
  margin-left: 28%;
  margin-top: .5em;
}

// Special media
@media print {
  .container {
    width: auto;
  }

  .navbar {
    display: none;
  }

  .page-footer {
    display: none;
  }

  .title {
    margin-top: 0;
  }

  .post-list-date {
    display: block;
  }

  .post-list-short-date {
    display: none;
  }
}

@media screen and (min-width: 650px) {
  // Larger devices
  .container {
    width: 600px;
  }

  .navbar {
    width: 100%;
  }

  .navbar-header {
    display: inline;
    margin-left: .8em;
    margin-right: 1.5em;
  }

  .navbar-nav {
    display: inline;
  }

  .post-list-date {
    display: block;
  }

  .post-list-short-date {
    display: none;
  }

  .post-list-teaser {
    display: block;
  }
}
